@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #b8bdcc;
    font-family: "Roboto", sans-serif;
}

.sitecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000b4;
    height: 50px;
}

header>h1 {
    font-size: 32px;
    color: white;
    margin: 5px;
}

.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-self: center;
    margin-left: 200px;
    width: 480px;
    height: 480px;
}

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    text-align: center;

    padding-right: 20px;
}

.sidemenu>div>button {
    width: 160px;
    margin-bottom: 40px;
    font-size: 16px;
}

.colorPicker {
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
    border: none;
    background: none;
}

.colorPicker label {
    text-align: top;
    font-size: 32px;
    padding: 15px 25px;
}

#sliderText {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000000b4;
    color: white;
}

footer>a {
    color: white;
}

footer>a:hover {
    color: rgb(55, 152, 190);
}

footer>a:visited {
    color: rgb(142, 108, 223);
}

