body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.sitecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #55a192;
    height: 50px;
}

header>h1 {
    font-size: 32px;
    color: white;
    margin: 5px;
}

.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-self: center;
    margin-left: 200px;
    width: 480px;
    height: 480px;
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
}

#sliderText {
    text-align: center;
    font-size: 24px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #55a192;
}

.sidemenu>div>button {
    width: 160px;
    margin-bottom: 40px;
    font-size: 16px;
}